.alert--success,
.alert--error {
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 20% 80%;
}

.alert--error {
  background-color: var(--errorBgColor);
  color: var(--errorTextColor);
}

.alert--success {
  background-color: var(--successBgColor);
  color: var(--successTextColor);
}

.alert__icon,
.alert__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert--success svg,
.alert--error svg {
  width: 36px;
  height: 36px;
}
