.button--contained {
  border-radius: 5px;
  border: 0;
  outline: 0px;
  cursor: pointer;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 20px;
}

.primary-color {
  background-color: var(--primaryColor);
}
