.button--contained,
.button--text {
  border-radius: 5px;
  border: 0;
  outline: 0px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 20px;
}

.button--contained {
  color: #ffffff;
}

.button--text {
  color: var(--primaryColor);
  background-color: transparent;
}

.button--primary-color {
  background-color: var(--primaryColor);
}

.button--primary-color:hover,
.button--primary-color:focus {
  background-color: var(--primaryLightColor);
}

.button--secondary-color {
  background-color: var(--secondaryColor);
}

.button--secondary-color:hover,
.button--secondary-color:focus {
  background-color: var(--secondaryLightColor);
}
