.device-detail-wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: var(--primaryBgColor);
}

.device-detail__navigation {
  /* background-color: var(--primaryLightColor); */
  color: var(--primaryColor);
  height: var(--appbarHeight);
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid var(--primaryDarkColor);
}

.device-detail__navigation__go-back {
  display: flex;
  align-items: center;
}

.device-detail__navigation__go-back svg {
  width: 36px;
  height: 36px;
  display: inline-block;
}

.device-detail__navigation__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.device-detail {
  display: grid;
  grid-template-areas:
    "employee"
    "info";
  grid-gap: 1rem;
}

.device-detail__employee {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "avatar name" "avatar email" "avatar team";
  grid-gap: 0.5rem;
  grid-area: employee;
  margin: 24px 12px;

  /* border-bottom: 2px solid var(--primaryBgColor); */
}

.device-detail__employee > p {
  margin: 0;
  word-break: break-all;
}

.device-detail__employee__avatar {
  margin: auto;
  grid-area: avatar;
}

.device-detail__employee__avatar > div {
  width: 70px;
  height: 70px;
  font-size: 2rem;
}

.device-detail__employee__name {
  font-weight: 600;
  grid-area: name;
}

.device-detail__employee__email {
  grid-area: email;
}

.device-detail__employee__team {
  grid-area: team;
}

.device-detail__employee__sign-out {
  padding: 8px 16px;
}

.device-detail__info {
  grid-area: info;
  border-top: 2px solid var(--primaryBgColor);
  background-color: #ffffff;
  border-radius: 10px;
  padding: 12px;
  margin-top: 12px;
}

.device-detail__time-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.device-detail__time {
  width: 100%;
  margin-bottom: 12px;
}

@media only screen and (min-width: 768px) {
  .device-detail__time {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .device-detail {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "employee info"
      "empty info";
  }

  .device-detail__employee {
    grid-template-areas:
      "avatar"
      "name"
      "email"
      "team";
    border-bottom: 0;
    grid-template-columns: 1fr;
    text-align: center;
    /* border-right: 2px solid var(--primaryBgColor); */
    max-width: 400px;
  }

  .device-detail__employee__avatar > div {
    width: 100px;
    height: 100px;
    font-size: 3rem;
    margin-bottom: 24px;
  }
}
