.upload-wrapper {
  display: flex;
  overflow-x: auto;
  align-items: baseline;
  min-height: 220px;
  border: 2px dashed var(--primaryColor);
  border-radius: 15px;
  width: 100%;
  margin: 12px 0;
}

.upload {
  position: relative;
  width: 200px;
  flex-shrink: 0;
  margin: 12px;
  height: 200px;
}

.upload__remove-btn {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid #000000;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.upload__img {
  object-fit: cover;
  width: 100%;
  border: 1px solid var(--primaryColor);
  border-radius: 10px;
  height: 100%;
}

.upload__btn-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  text-align: center;
}

.upload__btn-wrapper input[type="file"] {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 175px;
  height: 40px;
  cursor: pointer;
}
