@font-face {
  font-family: "Poppins", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,800&display=swap");
}

:root {
  --primaryColor: #3d93f5;
  --primaryLightColor: #63a8f7;
  --primaryDarkColor: #2a66ab;
  --secondaryColor: #ff9800;
  --secondaryLightColor: #ffac33;
  --secondaryDarkColor: #b26a00;
  --animationSpeed: 0.25s;
  --errorBgColor: #fdeded;
  --errorTextColor: #5f2120;
  --successBgColor: #e5f6fd;
  --successTextColor: #014361;
  --appbarHeight: 60px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3 {
  line-height: 1.25;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

.page-wrapper {
  background-color: var(--primaryColor);
}

.content {
  padding-top: var(--appbarHeight);
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

.primary-color {
  background-color: var(--primaryColor);
}

.secondary-color {
  background-color: var(--secondaryColor);
}

@media only screen and (min-width: 1024px) {
  .content {
    width: 75%;
  }
}
